body{
    padding:0;
    border:0;
    margin:0;
    display: flex;
    flex-direction: column;
}

.top-section {
    background-color: #1f2937;
    display:flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 10%;
    padding-right:10%;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight:900;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    height: 30px;
    align-content: center;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    gap: 24px;
    color: #F9FAF8;
}

.hero img{
    width: 300px;
    height:auto;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    color: #F9FAF8;

    
}

button {
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 4px;
    color: #F9FAF8;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.section-two{
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    height:400px;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.section-two-header{
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.card-container{
    display:flex;
    justify-content: center;
    gap:32px;
}

.card img{
    width: 200px;
    height: 200px;
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:210px;
}